In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [2]:
df = pd.read_excel('hsa2023_max.xlsx')

In [3]:
df.head()

,STT,Giới tính,Tỉnh,Trường THPT,HSA1,HSA2,HSA3,HSA
0,1,FEMALE,Thành phố Hà Nội,THPT Đào Duy Từ,33,34,20,85
1,2,MALE,Cộng Hoà Séc,THPT Trần Hưng Đạo-Thanh Xuân,23,29,21,73
2,3,MALE,Cộng Hoà Séc,THPT Trần Hưng Đạo-Thanh Xuân,38,34,31,96
3,4,MALE,"Prachatice, Cộng Hoà Séc",THCS&THPT Việt Úc Hà Nội,22,22,16,60
4,5,MALE,Thành phố Hà Nội,THPT Đoàn Kết-Hai Bà Trưng,9,33,30,72

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59528 entries, 0 to 59527
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   STT          59528 non-null  int64
 1   Giới tính    59528 non-null  object
 2   Tỉnh         59528 non-null  object
 3   Trường THPT  59528 non-null  object
 4   HSA1         59528 non-null  int64
 5   HSA2         59528 non-null  int64
 6   HSA3         59528 non-null  int64
 7   HSA          59528 non-null  int64
dtypes: int64(5), object(3)
memory usage: 3.6+ MB

In [ ]:
df.isna().sum()